{% extends 'base/base.html' %}
{% load static %}

{% block content %}

  <main id="main">

    <section id="team" class="team">
      <div class="container mt-5">

      <h3 class="text-center">Área Contable</h3><br>
      <p class="text-center">Ejercemos nuestro trabajo con dedicación a fin de encontrar soluciones eficientes y, asimismo, implementamos nuestras ideas con el objetivo de materializar dichas soluciones.</p>

        <div class="row">
          <div class="card-deck mt-4">
            <div class="card">
              <img src="{% static 'img/slide/construccion.jpg' %}" class="card-img-top px-3 mt-3" alt="...">
              <div class="card-body">
                <p class="card-text">
                <h4>Comercial</h4>
                <ul>
                    <li>Redacción, revisión y terminación de contratos mercantiles</li>
                    <li>Negociación de acuerdos empresariales</li>
                    <li>Fusiones y adquisiciones de empresas   </li>
                    <li>Asesoría en due diligence</li>
                    <li>Restructuración de patrimonios</li>
                    <li>Negociación de deudas personales y empresariales. </li>
                    <li>Tramitación de procesos de reorganización y liquidación empresarial</li>
                    <li>Cobro y defensa de deudas. </li>
                </ul>  
                <a href="#">#Comercial</a>
                <a href="#">#Negociacion</a>
                <a href="#">#Deudas</a>
                </p>
              </div>
            </div>

            <div class="card">
              <img src="{% static 'img/slide/construccion.jpg' %}" class="card-img-top px-3 mt-3" alt="...">
              <div class="card-body">
                <p class="card-text">
                <h4>Comercial</h4>
                <ul>
                    <li>Redacción, revisión y terminación de contratos mercantiles</li>
                    <li>Negociación de acuerdos empresariales</li>
                    <li>Fusiones y adquisiciones de empresas   </li>
                    <li>Asesoría en due diligence</li>
                    <li>Restructuración de patrimonios</li>
                    <li>Negociación de deudas personales y empresariales. </li>
                    <li>Tramitación de procesos de reorganización y liquidación empresarial</li>
                    <li>Cobro y defensa de deudas. </li>
                </ul>  
                <a href="#">#Comercial</a>
                <a href="#">#Negociacion</a>
                <a href="#">#Deudas</a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>

{% endblock %}

</body>

</html>